@import '../../common_projects_utilities/css/reset';

/* VARIABLES */
/* Fonts */
$roboto: 'Roboto', sans-serif;
$dark-color: #000;
$light-color: #fff;


/* GENERAL */
body {
    font-family: $roboto;
    color: $dark-color;
}


/* WIDGET */
.widget {
    width: 100%;
    max-width: 640px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 8px 0 9px;
    height: 490px;
}

/* Title */
.title {
    height: 22px;
    font-weight: 900;
    font-size: 20px;
    line-height: 0.9;
    padding-bottom: 7px;
    margin-bottom: 16px;
    position: relative;
    &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 50px;
        height: 1px;
        background: $dark-color;
    }
}

/* Hemiciclo */
.o-hemiciclo {
    position: relative;
    height: 225px;
    margin-bottom: 24px;
    background: rgba(#d7d7d7,.2);
}

.hemiciclo {
    width: 100%;
    box-sizing: border-box;
    padding-top: 10px;
    height: 215px;
    position: relative;
    svg {position: absolute;}
}

.vs__limit-hemiciclo {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translate(-50%, 40px);
    width: 60px;
    font-weight: 400;
    font-style: italic;
    font-size: 12px;
    letter-spacing: .1px;
    text-align: center;
    &::before {
        content: '';
        position: absolute;
        left: 50%;
        bottom: 0%;
        transform: translate(-50%, -38px);
        width: 1px;
        height: 185px;
        background: #000;
    }
}

/* Partidos */
.o-parties {
    &__title {
        font-weight: 500;
        font-size: 15px;
        padding-bottom: 7px;
        border-bottom: 1px dotted rgba(0, 0, 0, .4);
        margin-bottom: 16px;
    }     
}

.parties {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.btn__party {
    box-sizing: border-box;
    width: 142px;
    height: 32px;   
    border-radius: 2px;
    box-shadow: 1px 2px 5px 0 rgba(197,197,197,.5);
    background: $light-color ;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
    transition: background .4s;
    span {
        font-size: 15px;
        letter-spacing: .13px;
        pointer-events: none;
        transition: color .4s;
        &:first-child {
            font-weight: 500;
            position: relative;
            padding-left: 18px;
            padding-right: 8px;
            &::before {
                content: '';
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                width: 10px;
                height: 10px;
                border-radius: 50%;
            }
        }
        &:last-child {
            font-weight: 400;
            color: rgba(#565656,.7);
        }
    }
    &--psc {
        span:first-child{ &::before {background: #f60b01;} } 
    }
    &--erc {
        span:first-child{ &::before {background: #f9b33c;} } 
    }
    &--jxc {
        span:first-child{ &::before {background: #20c0b2;} } 
    }
    &--cup {
        span:first-child{ &::before {background: #fff200;} } 
    }
    &--pp {
        span:first-child{ &::before {background: #48aafd;} } 
    }
    &--cs {
        span:first-child{ &::before {background: #f45a09;} } 
    }
    &--podem {
        span:first-child{ &::before {background: #692772;} } 
    }
    &--vox {
        span:first-child{ &::before {background: #77be2d;} } 
    }
    &.selected {
        background: #222;
        span:first-child {color: $light-color;}
        span:last-child {color: rgba($light-color,.7);}
    }
}

.btn__reinit {
    box-sizing: border-box;
    width: 100%;
    height: 32px;
    margin: 8px 0 0;
    padding: 7px 0;
    border-radius: 2px;
    border: solid 1px #1c1c1c;
    background-color: $light-color;
    display: flex;
    justify-content: center;
    cursor: pointer;
    span {
        font-weight: 500;
        font-size: 15px;
    }
}      

.only-mobile {display: none;}

@media only screen and (max-width: 600px){
    .widget {padding: 8px 8px 9px;}
    .title {
        height: 23px;
        line-height: 1.15;
    }
    .o-hemiciclo {height: 176px;}
    .hemiciclo {height: 166px;}

    .vs__limit-hemiciclo {
        &::before {
            height: 140px;
        }
    }
    .btn__party {
        width: 150px;
        &.only-mobile {
            visibility: hidden;
            opacity: 0;
        }
    }
    .only-desktop {display: none;}
    .only-mobile {display: block;}
}

@media only screen and (max-width: 480px) {
    .btn__party {
        width: 125px;
        span {
            &:first-child {
                letter-spacing: none;
                padding-left: 14px;
                padding-right: 4px;
            }
            &:last-child {color: rgba($dark-color,.5);}
        }
        &.selected {
            span:last-child {color: rgba($light-color,.6);}
        }
    }
}

@media only screen and (max-width: 420px) {
    .btn__party {width: 110px;}
}

@media only screen and (max-width: 360px) {
    .btn__party {width: 90px;}
}

@media only screen and (max-width: 340px) {
    .o-hemiciclo {height: 176px;}
    .hemiciclo {height: 155px;  padding-top: 21px;}

    .vs__limit-hemiciclo {
        &::before {
            height: 135px;
        }
    }
}